<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title>Pizza Hut</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/estilo.css"/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<body class="container">
<div class="row header-top"> 
    <!-- TOP SIN INGRESAR -->
    <div class="col-lg-6"><a href="index.html"><img src="img/logo.png" title="Pizza Hut" alt="Pizza Hut" /></a></div> 
    <div class="col-lg-6 ingreso-top"><a href="#Modal-Ingreso" data-toggle="modal">INGRESAR</a> - <a href="reg.html">REGISTRARSE</a></div>
    <!-- TOP INGRESADO -->
    <!--
    <div class="col-lg-6"><a href="index.html"><img src="img/logo.png" title="Pizza Hut" alt="Pizza Hut" /></a></div> 
    <div class="col-lg-6 ingreso-top cliente-ingresado-top">Bienvenido NOMBRE DEL CLIENTE<a href="#" class="link-salir">SALIR</a> - <a href="#">MI CUENTA</a></div>
    -->
</div>
<!-- MENÚ -->
<div class="row hamburger-menu">    
    <div class="col-lg-12">
	    <a href="#mnu" id="bar" data-toggle="collapse"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
    </div>
</div>
<div class="navbar navbar-inverse contenedor-menu-web" id="mnu"> 
    <ul class="nav navbar-nav menu-web"> 
        <li class="active"><a href="#">PIZZAS</a></li> 
        <li class="dropdown"> 
    		<a class="dropdown-toggle" href="#" data-toggle="dropdown" >MÁS <b class="caret"></b></a> 
    		<ul class="dropdown-menu"> 
        		<li><a href="productos.html?tipo=pasta">PASTA</a></li> 
        		<li><a href="productos.html?tipo=palitos">PALITOS</a></li> 
        		<li><a href="productos.html?tipo=bebidas">BEBIDAS</a></li>
                <li><a href="productos.html?tipo=pollo">POLLO</a></li>
                <li><a href="productos.html?tipo=postres">POSTRES</a></li> 
    		</ul> 
		</li>
        <li class="opt-menu-destacado"><a href="#">OFERTAS</a></li>
        <!-- BOTÓN COMENZAR ORDEN SIN INGRESAR -->
        <li class="order-menu"><a data-toggle="modal" href="#Modal-Orden">COMENZAR ORDEN</a></li> 
        <!-- BOTÓN MENÚ SUPERIOR DATOS ORDEN -->
        <!--
        <li class="contenedor-boton-orden-ingresado">
        	<div class="row boton-orden-ingresado">
            	<div class="col-lg-2 icono-menu-retiro"><img src="img/pizza_hut_37.png" /></div>
                <div class="col-lg-4 direccion-retiro-menu01">Retirar Desde<br /><span class="direccion-retiro-menu02">Santiago 123, Santiago</span></div>
                <div class="col-lg-2 icono-menu-retiro"><img src="img/carrito_37.png" /></div>
                <div class="col-lg-4 precio-menu-superior">$88.888</div>
            </div>
        </li>       
        -->
    </ul> 
    </div>
<!-- FIN MENÚ -->     
<!-- SLIDER -->
<div class="container-fluid padnul" ></div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a href="#"><img src="img/sli1.jpg" ></a>
    </div>
	<div class="item">
      <a href="#"><img src="img/sli2.jpg" ></a>
    </div>
	<div class="item">
      <a href="#"><img src="img/sli3.jpg" ></a>
    </div>
  </div>
<!-- controles sliders -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- SUB MENU PIZZAS/PRODUCTOS -->
<div class="row hamburger-menu menu-responsive-2">    
    <div class="col-lg-12">
	    <a href="#mnu2" id="bar2" style="color:white;" data-toggle="collapse"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
    </div>
</div>
<ul class="nav navbar-nav menu-web menu-web-pizzas" id="mnu2"> 
        <li><a href="#">PIZZAS 1</a></li> 
        <li><a href="#">PIZZAS 2</a></li>
        <li><a href="#">PIZZAS 3</a></li>
        <li><a href="#">PIZZAS 4</a></li>
        <li><a href="#">PIZZAS 5</a></li> 
</ul> 
<!-- FIN MENU PIZZA/PRODUCTOS-->

<div class="row ingreso-cupones-productos">
	<h3>CÓDIGO DE CUPÓN</h3>
	<input id="coupon-code" name="couponCode" class="form-control pull-left ng-pristine ng-valid" style="width:71%" placeholder="Ingrese código" data-ng-model="couponCode" autocomplete="off" ng-keypress="updateBody();">
    <a href="" class="text-center btn-default btn" data-ng-click="checkCouponCode()" marked="1"  id="button-ingreso-cupon">ENVIAR</a>
</div>

<div class="row listado-productos">
	<div class="col-lg-6 single-product single-producto-izq">
    	<div class="row">
        	<div class="col-lg-4 imagen-producto"><img src="img/fullpiza.png" /><br /><h3>$88.888</h3></div>
            <div class="col-lg-8">
            	<h3 class="nombre-single-producto">NOMBRE PIZZA <a data-toggle="modal" href="#Modal-Producto" class="vermas-producto">ver más</a></h3>
                <p class="descripcion-single-producto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </p>
			<div class="row single-producto-personalizar">
            	<div class="col-lg-6 add-margin-bottom-1">
    	       	    <select name="single-product-masa" id="single-product-masa">
    	       	      <option value="0">TIPO MASA 1</option>
    	       	      <option value="0">TIPO MASA 2</option>
    	       	      <option value="0">TIPO MASA 3</option>
	         	    </select>
            	</div>
                <div class="col-lg-6 add-margin-bottom-1">
                	<select name="single-product-tamano" id="single-product-tamano">
    	       	      <option value="0">TAMAÑO 1</option>
    	       	      <option value="0">TAMAÑO 2</option>
    	       	      <option value="0">TAMAÑO 3</option>
	         	    </select>
                </div>
                <div class="col-lg-6 add-margin-bottom-2"><a href="" class="boton-personalizar-single-product">PERSONALIZAR</a></div>
                <div class="col-lg-6"><a href="" class="boton-anadir-single-product">AÑADIR ORDEN</a></div>
			</div>
            </div>
        </div>
    </div>
    
<!-- otro producto -->
<div class="col-lg-6 single-product">
    	<div class="row">
        	<div class="col-lg-4 imagen-producto"><img src="img/fullpiza.png" /><br /><h3>$88.888</h3></div>
            <div class="col-lg-8">
            	<h3 class="nombre-single-producto">NOMBRE PIZZA <a data-toggle="modal" href="#Modal-Producto" class="vermas-producto">ver más</a></h3>
                <p class="descripcion-single-producto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </p>
			<div class="row single-producto-personalizar">
            	<div class="col-lg-6 add-margin-bottom-1">
    	       	    <select name="single-product-masa" id="single-product-masa">
    	       	      <option value="0">TIPO MASA 1</option>
    	       	      <option value="0">TIPO MASA 2</option>
    	       	      <option value="0">TIPO MASA 3</option>
	         	    </select>
            	</div>
                <div class="col-lg-6 add-margin-bottom-1">
                	<select name="single-product-tamano" id="single-product-tamano">
    	       	      <option value="0">TAMAÑO 1</option>
    	       	      <option value="0">TAMAÑO 2</option>
    	       	      <option value="0">TAMAÑO 3</option>
	         	    </select>
                </div>
                <div class="col-lg-6 add-margin-bottom-2"><a href="" class="boton-personalizar-single-product">PERSONALIZAR</a></div>
                <div class="col-lg-6"><a href="" class="boton-anadir-single-product">AÑADIR ORDEN</a></div>
			</div>
            </div>
        </div>
    </div>    
    
</div>

<!-- PIE DE PÁGINA -->
<div class="row pie-pagina"> 
    <div class="col-lg-3 pie-col-1">
    	<p>MENÚ</p>
        <ul class="footlist">
        	<li><a href="#">Pizzas</a></li>
            <li><a href="#">Mas</a></li>
            <li><a href="#">Ofertas</a></li>
        </ul>
    </div> 
    <div class="col-lg-3 pie-col-2">
    	<p>NOSOTROS</p>
        <ul class="footlist">
        	<li><a href="#">Historia</a></li>
        	<li><a href="#">Carrera</a></li>
        	<li><a href="#">Conviertete en una franquicia</a></li>
        </ul>
    </div>
    <div class="col-lg-3 pie-col-3">
    	<p>ADICIONALES</p>
        	<ul class="footlist">
            	<li><a href="#">Politica de privacidad</a></li>
                <li><a href="#">Condiciones de uso</a></li>
<li><a href="#">Información de Alérgenos</a></li>
            </ul> 
    </div>
    <div class="col-lg-3 pie-col-4">
    	<a class="link_camer_footer" href="#"><img src="img/camer.png" ></a>
        <a class="link_facebook_footer" href="#"><img src="img/facebook.png" ></a>
        <a class="link_twitter_footer" href="#"><img src="img/twiter.png" ></a>
    </div> 
</div>

<div id="Modal-Orden" class="modal fade">
	<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<h3>COMENZAR PEDIDO</h3>
            </div>
          	 <div class="modal-body">
				<div class="row">
                	<div class="col-lg-6 modal-delivery-left">
                		<input id="occasion-delivery" name="occasion-group" data-ng-click="changeState(states.INITIAL,'D');" data-ng-model="localize.occasion" value="D" class="ng-pristine ng-valid radio01" type="radio">
	          			<label class="span_delivery" for="occasion-delivery">DELIVERY</label>
                	</div>
                    <div class="col-lg-6 modal-delivery-right">
        				<input id="occasion-carryout" name="occasion-group" data-ng-click="changeState(states.INITIAL, 'C');autoLocalize();" data-ng-model="localize.occasion" value="C" class="ng-pristine ng-valid radio01" type="radio">

         				<label class="span_delivery2" for="occasion-carryout">RETIRO</label>
                	</div>
                </div>
        		<h2>¿A DONDE QUIERES REALIZAR EL REPARTO?</h2>
	 			<label>
	   		                    <select id="direccionreparto" class="form-control ph-overflow ng-pristine ng-valid" data-ng-model="selectedAddress.index" data-ng-init="selectedAddress.index='saved_location'" data-ng-change="handleStoredAddressClick();"><option value="saved_location">Seleccionar una dirección guardada</option><!-- DO NOT add anything between the MP translate tags unless Spanish translation needs to be skipped --><!-- ngRepeat: savedLocation in modifySavedLocations --><!-- ngRepeat: savedLocation in modifySavedLocations --><!-- ngIf: localize.occasion=='C' --><!-- ngIf: localize.occasion=='D' --><option data-ng-if="localize.occasion=='D'" value="add_new_address" class="ng-scope">Usar una dirección diferente</option><!-- end ngIf: localize.occasion=='D' --></select>
      			</label><br />
      			<a class="cambiar-ubicacion robot-fuente" >CAMBIAR UBICACIÓN</a><BR />
				
                <a class="btn btn-primary btn-block ph-find-store" data-ng-click="localizeByAddressOrZip()" id="button_modal_delivery" marked="1">Encontrar Pizza Hut</a>
			</div>
		</div>
	</div>
</div>
<!-- MODAL LOGIN -->
<div id="Modal-Ingreso" class="modal fade">
	<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<h3>INGRESA TU CUENTA</h3>
            </div>
          	 <div class="modal-body">
				<div class="row textboxs-ingreso">
                	 <div class="col-lg-3 modal-ingresar-left">
                     	EMAIL
                     </div>
                     <div class="col-lg-9 modal-ingresar-right">
                     	<input type="text" name="email_signIn" id="email_signIn" class="form-control ng-pristine ng-valid" data-ng-model="credentials.username" placeholder="Email" autocomplete="off" />
                     </div>
                </div>  
                <div class="row textboxs-ingreso">
                	 <div class="col-lg-3 modal-ingresar-left">
                     	CONTRASEÑA
                     </div>
                     <div class="col-lg-9 modal-ingresar-right">
                     	<input type="password" name="password_signIn" id="password_signIn" class="form-control ng-pristine ng-valid" data-ng-model="credentials.password" placeholder="Password" autocomplete="off"/>
                     </div>
                </div>              
      			<a class="cambiar-ubicacion" data-dismiss="modal"  data-toggle="modal" href="#Modal-Restablecer">¿Olvidaste tu contraseña?</a><BR />
                <label><input type="checkbox" name="recordarme" id="recordarme" class="ng-pristine ng-valid" data-ng-model="credentials.remember"/> Recordarme</label><br />
                <a class="cambiar-ubicacion">CREAR CUENTA</a><BR />
				<input type="submit" name="button_modal_delivery" id="button_modal_delivery" value="INGRESAR" />
			</div>
		</div>
	</div>
</div>
<!-- MODAL RECUPERAR CONTRASEÑA -->
<div id="Modal-Restablecer" class="modal fade">
	<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<h3>RESTABLECER CONTRASEÑA</h3>
            </div>
          	 <div class="modal-body">
				<div class="row textboxs-ingreso textbox-restablecer">
					<input class="form-control ph-margin-top-10 ng-pristine ng-valid ng-valid-email campo-restablecer" data-ng-model="credentials.email" placeholder="usted@ejemplo.com" autocomplete="off" type="email">
                    
                   
                </div>       
				<input type="submit" name="button_modal_delivery" id="button_modal_delivery" value="RESTABLECER" />
			</div>
		</div>
	</div>
</div>
<!-- MODAL PRODUCTOS -->
<div id="Modal-Producto" class="modal fade">
	<div class="modal-dialog">
        <div class="modal-content">
           	 <div class="modal-body">
				<div class="row modal-producto">
                	 <div class="col-lg-4 modal-producto-left">
                     		<img src="img/fullpiza.png" /><br /><h3>$88.888</h3>
                     </div>
                     <div class="col-lg-8 modal-producto-right">
                     	<h3 class="nombre-single-producto">NOMBRE PIZZA</h3>
                		<p class="descripcion-single-producto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                		</p>
                     	<div class="row ingredientes-modal-producto">
                        	<div class="col-lg-2 ingrediente-first-modal"><img src="img/img_ingrediente01.jpg" /><br />Ingrediente 1</div>
                            <div class="col-lg-2"><img src="img/img_ingrediente01.jpg" /><br />Ingrediente 2</div>
                            <div class="col-lg-2"><img src="img/img_ingrediente01.jpg" /><br />Ingrediente 3</div>
                            <div class="col-lg-2"><img src="img/img_ingrediente01.jpg" /><br />Ingrediente 4</div>
                            <div class="col-lg-2"><img src="img/img_ingrediente01.jpg" /><br />Ingrediente 5</div>
                            <div class="col-lg-2"><img src="img/img_ingrediente01.jpg" /><br />Ingrediente 6</div>
                        </div>
                     </div>
                </div>  
                
			</div>
		</div>
	</div>
</div>

<!-- END MODALS -->
<!-- SCRIPTS -->
<script>
$(document).ready(function(){
    $("#bar").click(function(){
        $("#mnu").slideToggle("slow");
    });
	$("#bar2").click(function(){
        $("#mnu2").slideToggle("slow");
    });
});
</script>
<!-- END SCRIPTS -->
</body>
</html>
